
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>

<div class="GalleryTitleBox">
<h2 class="fuck-motto">Your Account</h2>
<h5>Has Been Deactivated</h5>
</div>
<br>
<div id="textBoxGeneral">

    <div id="textBoxGeneralSpan"><h4>However, in order to cancel your paid subscruption, you must fill
    out the following form and we'll contact you to confirm cancellation of the subscription.</h4></div>
    </div>

{% endblock %}