
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>

<div class="GalleryTitleBox">

<h1 class="fuck-motto">Deactivate Your Account?</h1>

</div>


<div class="loginForm">
    <br><br>

<form method="post">{% csrf_token %}
    <h5 id="plaque" style="color:white;font-size:26px;">Are you sure you want to <strong>deactivate your account</strong>?</h5>
    <br>
    <a id='plaque' href="{% url 'delete_user_confirm' %}" style="text-shadow:1px 1px 1px black;-1px -1px 1px black; color: white; font-size:26px">Yes</a>

</form>





</div>




    {% endblock %}
