
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
<br>
<div class="GalleryTitleBox">
<h3 class="fuck-motto">Your Account</h3>
{{ user }}
</div>
<br>

<div class="loginForm">
    <br><br><br>

<form method="post">{% csrf_token %}
    <p>Are you sure you want to Deavtivate Account?</p>
    <input type="submit" value="Confirm">
</form>

<span id="acccountButton">Deavtivate Account</span>

    </div>
    </a>

<br><br>

<a href="{% url 'DeactiveStatus' %}" >

<span id="acccountButton">Cancel</span>
   </a>


</div>




    {% endblock %}
