
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>

<div class="GalleryTitleBox">

<h3 class="fuck-motto">Deactivate Your Account?</h3>

</div>


<div class="loginForm">
    <br><br>

<form method="post">{% csrf_token %}
    <p id="plaque" style="color:white;font-size:26px;">Are you sure you want to <strong>deactivate your account</strong>?</p>
    <br>
    <a href="{% url 'delete_user' %}"><input type="submit" value=" Yes " id="acccountButton" style="text-shadow:1px 1px 1px black;-1px -1px 1px black"></a>

</form>





</div>




    {% endblock %}
