{% extends 'index.html' %}
{% load static %}
{% block content %}


<br>
<div class="GalleryTitleBox">
<h1>Password Reset</h1>
<h3 class="fuck-motto">Email has been sent</h3>
</div>
<br>

<div class="loginForm">

    <div id='plaque' style="height:270px;font-weight:bold;font-size:17px;">

  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>

    </div>
</div>










{% endblock %}