
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
<br>
<div class="GalleryTitleBox">
<h1>Choose a Gallery</h1>
<h3 class="fuck-motto">of Your Memories</h3>
</div>
<br>
<br style="clear: both;">
    <!--<h5>Django Image Uploading...</h5>-->

<div id='photo_gallery_block' class='row'>

{% if user.is_authenticated %}
<a class="galleryButton" href={% url 'posts:photo_gallery' %}>Photo Gallery</a>
<a class="galleryButton" href={% url 'posts:audio_gallery' %}>Audio Gallery</a>
<a class="galleryButton" href={% url 'posts:video_gallery' %}>Video Gallery</a>
<a class="galleryButton" href={% url 'posts:text_gallery' %}>Text Gallery</a>
    {% else %}
<a href={% url 'login' %}>Please Log In to View</a>
{% endif %}




</div>

    {% endblock %}




<!--<h2>{{ user.get_full_name }}</h2>-->
<!--<ul>-->
<!--  <li>Username: {{ user.username }}</li>-->
<!--  <li>Location: {{ user.profile.location }}</li>-->
<!--  <li>Birth Date: {{ user.profile.birth_date }}</li>-->
<!--</ul>-->