
{% extends 'index.html' %}
{% load static %}

{% if user.is_authenticated %}
    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
    <br>
    <h3>Choose a Gallery</h3>


    <h5 class="fuck-motto">from Your Memories...</h5>
    <br>
    <!--<h5>Django Image Uploading...</h5>-->

<div id='photo_gallery_block' class='row'>


<a href={% url 'photo_gallery' %}>Photo Gallery</a>
<a href={% url 'audio_gallery' %}>Audio Gallery</a>
<a href={% url 'video_gallery' %}>Video Gallery</a>
<a href={% url 'text_gallery' %}>Text Gallery</a>



</div>

    {% endblock %}
{% endif %}


<!--<h2>{{ user.get_full_name }}</h2>-->
<!--<ul>-->
<!--  <li>Username: {{ user.username }}</li>-->
<!--  <li>Location: {{ user.profile.location }}</li>-->
<!--  <li>Birth Date: {{ user.profile.birth_date }}</li>-->
<!--</ul>-->