{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
    <script src="artyom.window.min.js"></script>


<br>
<div class="GalleryTitleBox">
<h1>Record Video</h1>
<h3 class="fuck-motto"></h3>
</div>

<br style="clear: both;">

  {% if user.is_authenticated %}



<row id="videoRecordRow">
<div id="videoControls">
    <video id="gum" playsinline autoplay muted>Video Feed Will Appear Here</video>
    <video id="recorded" playsinline loop style='display: none;'>
        <h3>Video Feed Will Appear Here</h3>
        </video>

<div id='vidButtonRow'>

        <button class='vidButton' id="start">Start Camera</button>
        <button class='vidButton' id="record">Start Recording</button>
        <button class='vidButton' id="play">Play</button>
        <button class='vidButton' id="download" type="submit">Download</button>
        <a href={% url 'posts:post_video' %}><button class='vidButton' id="save">Save</button></a>
        <button class='vidButton' id="tryAgain">Try Again</button>
</div>

    <div>
        <span id="errorMsg"></span>
    </div>


        <div id="instrucker">
        <div id='instrucker-table'>
        <h4 style="text-decoration:underline;">Steps</h4>
        <p>1. Start Camera</p>
        <p>2. Start Recording</p>
        <p>3. Stop Recording</p>
        </div>
        </div>
        <p style="color:black;">Echo cancellation: <input type="checkbox" id="echoCancellation">
        <br>
        Check this box before starting camera to reduce or eliminate echoes.</p>
</div>
</row>
<!-- include adapter for srcObject shim -->
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/static/js/main.js" async></script>
<script src="../../../js/lib/ga.js"></script>




<!--  var video = document.querySelector("#video");-->


<!--if (navigator.mediaDevices.getUserMedia) {-->
<!--    navigator.mediaDevices.getUserMedia({video: true}).then(function(stream) {-->
<!--    var sourceObject = video.srcObject;-->
<!--    video.srcObject = stream;-->
<!--    video.loop = true;-->
<!--  })-->
<!--    .catch(function(err0r) {-->
<!--    console.log("Something is wrong!");-->
<!--  });-->
<!--}-->
{% else %}

<h3><a href={% url 'login' %}>Please Log In to View</a></h3>

{% endif %}



    {% endblock %}
