{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
    <script src="artyom.window.min.js"></script>


    <h1>Record Video</h1>



</row>
<div id="">



    <video id="gum" playsinline autoplay muted></video>
    <video id="recorded" playsinline loop style='display: none;'></video>
<div class='row'  id='vidButtonRow'>
    <div id="vidRecordBtns">
        <button class='vidButton' id="start">Start camera</button>
        <button class='vidButton' id="record">Start Recording</button>
        <button class='vidButton' id="play">Play</button>
        <button class='vidButton' id="download">Download</button>
        <button class='vidButton' id="save">Save</button>
        <button class='vidButton' id="tryAgain">Try Again</button>

        <div>
        <p>Echo cancellation: <input type="checkbox" id="echoCancellation"></p>
        Check this box before starting camera to reduce or eliminate echoes.
        </div>
    </div>



    <div>
        <span id="errorMsg"></span>
    </div>
</div>


</div>
<!-- include adapter for srcObject shim -->
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/static/js/main.js" async></script>
<script src="../../../js/lib/ga.js"></script>




<!--  var video = document.querySelector("#video");-->


<!--if (navigator.mediaDevices.getUserMedia) {-->
<!--    navigator.mediaDevices.getUserMedia({video: true}).then(function(stream) {-->
<!--    var sourceObject = video.srcObject;-->
<!--    video.srcObject = stream;-->
<!--    video.loop = true;-->
<!--  })-->
<!--    .catch(function(err0r) {-->
<!--    console.log("Something is wrong!");-->
<!--  });-->
<!--}-->




    {% endblock %}
