{% extends 'index.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="/static/index.css" />
<br>
<div class="GalleryTitleBox">
  <h1>Success</h1>
  <h3 class="fuck-motto">Your Payment Has Been Received</h3>

</div>

<a href={% url 'posts:post_stuff' %}><button class="nav-btn nav-btn-marg-left">Post</button></a>

<a href={% url 'posts:gallery' %}><button class="nav-btn nav-btn-marg-left">Gallery</button></a>
<br>
<br>
<div class="elegantFrame">
  <div>You Can Post New Media or Look at Your Media in the Gallery</div>
</div>

<script src="https://js.stripe.com/v3/" class="stripe-button"></script>


<!-- <img src="" alt="" style="width:300px; height:200px;"> -->
{% endblock %}