
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>

<!--To prevent users from accidentally clicking the submit button multiple times -->
<!--which would send multiple requests to the server, consider using this -->
<!--JavaScript snippet in your template to disable the button as soon as the user -->
<!--clicks it:    -->
    <script>
    $('form').submit(function() {
        $(this).find("button[class='stripe-button']").prop('disabled',true);
    });
</script>
<br>
<div class="GalleryTitleBox">

      {% if user.is_authenticated %}
      {% if user.has_paid %}
      <br>
      <h1>You've already paid!</h1>
      {% else %}
      <h1>Subscribe</h1>
      <h4>for Only</h4>
<h3 class="fuck-motto">$4.99 USD per Month!</h3>


<form action="{% url 'charge' %}" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_1WstAayFWHojpBky0IzM0LLt0031UKZWaV"
    data-name="Stripe.com"
    data-description="2 widgets"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-description="A Django Charge"
    data-amount="499"
    data-locale="auto"></script>
</form>
<br>
<h6>We accept all major debit and credit cards from customers in every country.<h6>

 <a href="https://stripe.com/payments/features" target="_blank"><img src='/static/images/logo/stripe-payments-1.png' id="stripeLogoCC"></a>
 <br>
 <h3>Cancel at Any Time with No Penalty!</h3>
 {% endif %}
 {% else %}
 <h3 class="fuck-motto">You Must Login to View</h3>
 {% endif %}
 <br>
</div>




    <!-- <img src="" alt="" style="width:300px; height:200px;"> -->
    {% endblock %}


