
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
    <br>
    <div>
    <h1>Put Your Money Where Your Mouth Is</h1>
    <br>
    <p>

    Stripe Pay coming soon!!
    </p>
      {% if user.is_authenticated %}
<h2>Buy for $4.99</h2>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="A Django Charge"
    data-amount="499"
    data-locale="auto">
</script>
 {% else %}
 {% endif %}
    </div>
    <!-- <img src="" alt="" style="width:300px; height:200px;"> -->
    {% endblock %}


