{% extends 'index.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="/static/index.css" />


<div class="GalleryTitleBox">
<h1>Audio Gallery</h1>
<h3 class="fuck-motto">Up To 5 Audio Memories</h3>
</div>

<div id=''>



    {% if user.is_authenticated %}
{% if user.has_paid %}
    <div id='post-page'>
    <ul>
   <li><a href={% url 'posts:add_audio' %}><i class="fas fa-microphone-alt data-input-post">      Upload Audio</i></a></li>
    </ul>
    </div>



    <div id='photo_gallery_block' class='row'>
        {% if audio_list %}
        {% for audio in audio_list %}
        {% if audio.author == user %}

        <div class='photo_gallery_img'>
            <div>
            <p id="photo-title"><span id="display_category">Title: </span>{{ audio.title }} </p>
            <p id="photo-title"><span id="display_category">Author: </span>{{ audio.author.first_name }}</p>
            <br>

                <audio controls='controls'>
                    <source src='{{ static }}{{ audio.audio.url }}' type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>

                <!--<a class="downloadButton" href="{{ static }}{{audio.audio.url}}" download>View</a>-->
            <a class="downloadButton" href="{% url 'posts:delete_audio' audio.id %}">Delete</a>
            </div>
        </div>

        {% endif %}

        {% endfor %}



{% else %}
    <br><br>
    <p id="h3words">There is no audio in the gallery at this time.</p>

{% endif %}



{% else %}
    <br><br <h3><a href={% url 'payments' %}>Your payment status is <u>unpaid</u>.</a></h3>

{% endif %}

{% else %}
    <br><br <h3><a href={% url 'login' %}>Please Log In to View</a></h3>
{% endif %}
</div>
</div>


{% endblock %}



