
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>

    <br>
    <h1>Photo Gallery</h1>


    <h3 class="fuck-motto">Your Memories...</h3>
    <br>
    <!--<h5>Django Image Uploading...</h5>-->

<div id='photo_gallery_block' class='row'>
{% if user.is_authenticated %}
            <!--{% if photo.author == user %}-->
            {% for photo in photo_list %}
            <div class='photo_gallery_img zoomTarget'>
                    <p id="photo-title">Title: {{ photo.title }} </p>
                <!--<p id="photo-title">Author: {{ photo.author }}</p>-->
                <a href="https://www.sentheard.com/static{{ text.text_upload.url }}" download>Text</a>

             <!--<img class="" data-targetsize="0.45" data-duration="600" src="https://www.sentheard.com/static{{ text.photo.url }}" alt="...">-->
             </div>

             {% endfor %}
             <!--{% endif %}-->
    {% else %}
<a href={% url 'login' %}>Please Log In to View</a>
{% endif %}

</div>
    {% endblock %}
