
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>

    <br>
    <h1>Photo Gallery</h1>


    <h3 class="fuck-motto">Your Memories...</h3>
    <br>


<div id='photo_gallery_block' class='row'>

test
<img src="https://www.sentheard.com/static/media/photos/20191226_151205_sVrPMPr.jpg" width="200">
<img src="https://www.sentheard.com{{MEDIA_URL}}photos/20191226_151205_sVrPMPr.jpg" width="200">

{% if photo_list %}

    <ul>


            {% for photo in photo_list %}
            <div class='photo_gallery_img'>


                <li id="photo-title" style='color:black;'>Author: {{ photo.author }}</li>
                <img src="{{PROJECT_URL}}{{MEDIA_URL}}photos/{{photo.url}}" alt="Profile Picture" width="200"/>

             </div>

             {% endfor %}

    </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}


</div>
    {% endblock %}
