{% extends 'index.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="/static/index.css" />

<br>
<div class="GalleryTitleBox">
<h1>Text Gallery</h1>
<h3 class="fuck-motto">Your Memories</h3>
</div>
<br>
<br style="clear: both;">


<div id='audio-row'>


    {% if user.is_authenticated %}
    <div id='photo_gallery_block' class='row'>
        {% if text_list %}
        {% for text in text_list %}
        {% if text.author == user %}

    <div class='photo_gallery_img'>
        <div>
            <p id="photo-title"><span id="display_category">Title: </span>{{ text.title }}</p>
            <p id="photo-title"><span id="display_category">Author: </span>{{text.author.first_name }}</p>
            <br>
            <a class="downloadButton" href="{{ static }}{{text.text_upload.url}}" download>Download</a>
        </div>
    </div>


        {% else %}
        <p>There are no texts in the gallery.</p>
        {% endif %}
        {% endfor %}


        {% endif %}

    </div>
    {% else %}
    <a href={% url 'login' %}>Please Log In to View</a>
    {% endif %}
</div>

{% endblock %}


