
{% extends 'index.html' %}
{% load static %}

{% if user.is_authenticated %}
    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
    <br>
    <h1>Text Gallery</h1>


    <h3 class="fuck-motto">Your Memories...</h3>
    <br>
    <!--<h5>Django Image Uploading...</h5>-->

<div id='photo_gallery_block' class='row'>

            {% for text in object_list %}
            {% if text.author == user %}
            <div class='photo_gallery_img zoomTarget'>
                    <p id="photo-title">{{ text.title }} </p>
             <!--<img class="" data-targetsize="0.45" data-duration="600" src="https://www.sentheard.com/static{{ text.photo.url }}" alt="...">-->
             </div>
             {% endif %}
             {% endfor %}

</div>

    {% endblock %}
{% endif %}