
* {
  align-content: center;
  text-align: center;
  margin: 0px auto;
  padding: 0px;

}

html {
  padding: 0px;
  min-width: 364px;
}

.center {
  align-content: center;
  text-align: center;
  margin: 0px auto;
}

.fuck-motto {
  text-align: center;
  border-image: url(images/gold.jpg) ;
}

#box-nav {
  text-align: left;
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  height: 75px;
  border: 2.5px inset gold;
  border-image: url(images/gold.jpg) 30% round;
  padding-left: 0px;
  clear: left;
  margin: 0px auto;
  /* margin-top: 40px; */
  background-image: url(images/vatican/canopy.jpg);
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-repeat: none;
  box-shadow: 0px 4px 12px rgb(65, 65, 58);
}

.nav-btn {
  width: 77px;
  height: 45px;
  margin-top: 12.5px;
  opacity: 0.75;
  border: 2px inset gold;
  border-image: url(images/gold.jpg) 30% round;
}

.nav-btn-marg-left   {
  margin-left: 10px;
} 

body {
  width: 100%;
  min-width: 364px;

  height: 100%;
   background: url(images/parchment1.png); 
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* background-size: 100%; */
  background-repeat: repeat-y;
  align-content: center;
  text-align: center;
  margin: 0px auto;
  margin: 0px auto;
  padding: 0px;
  padding-right: -15px;

}

p {
  color: white;
}
.container-fluid {
  align-content: center;
  text-align: center;
  margin: 0px auto;
  /* margin-right: 0px; */
  width: 100%;
  height: 100%;
  padding: 0px;
}
#banner {
  background-color: black;
  background: url(images/star-night-trim.jpg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /* z-index: 9; */
  height: 120px;
  /* width: 100%; */
  min-width: 300px;
  /* max-width: 464px; */
  margin: 0px auto;
  /* margin-left: 29px; */
  margin-top: -26px;
  margin-left: 0px;
  margin-right: 0px; 
  margin-bottom: 0px;
  align-content: center;
  text-align: center;
  border: 1px outset rgb(179, 179, 145);
  /* border-top: 1.5px inset rgb(211, 211, 188); */
  padding: 0px;
  box-shadow: 0px 8px 12px rgb(65, 65, 58), 0px -1px 12px rgb(163, 163, 160);
}
#main {
  /* width: 100%; */
  min-width: 300px;
  height: 100px;
  /* width: 100%; */
  background-color: black;
  background: url(images/star-night-trim.jpg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin: 0px auto;
  margin-top: 0px;
  /* margin-left: -45px; */
  margin-right: 0px;

  /* float: left; */
}

#main-body {
  width: 100%;
  height: 100%;
  background: url(images/parchment1.png);
  background-size: 100%;
  margin: 0px auto;
  align-content: center;

  /* display: inline-block; */
  /* float: left; */
}

#row1 {
  margin: 0px auto;

  width: 100%;
  height: auto;
  padding: 0px;
}

#row2 {
  /* margin-left: 10px; */
  /* background-color: orange; */
  width: 100%;
  margin: 0px auto;
  /* padding-right: -10px; */
  /* padding: -110px; */
  display: inline-block;
}

#full-wide {
  padding: 0px;
  display: inline-block;
}

#mission {
  z-index: -1;
  margin: 0px auto;
  align-content: center;
  text-align: center;
  width: 80%;
  max-width: 700px;
  min-width: 0px;
  /* display: block; */
  /* position: relative; */
}


#binding {
  height: 100%;
  min-height: 1000px;
margin: 0px auto;
margin-left: 0px;
/* float: left; */
width: 50%;
left: 0px;
  max-width: 180px;
  position: absolute;
background-color: rgb(85, 79, 60);
border-right: 5px solid rgb(116, 112, 95);
box-shadow: 5px 0px 25px rgb(54, 54, 48);
z-index: 7;
}

#binding2 {
  height: 100%;
  min-height: 1000px;
margin: 0px auto;
top: 0px;
  margin-right: 0px;
  /* margin-top: -90px; */
  width:50%;
  max-width: 180px;
right: 0px;
background-color: rgb(105, 99, 81);
border-left: 5px solid rgb(116, 112, 95);
box-shadow: -3px 0px 15px rgb(105, 105, 95);
z-index: 7;
position: absolute;
}

.right-text {
  text-align: right;
  /* padding: 10px;
  padding-left: 35px; */
}

#title-box {
  width: 265px;
  height: 75px;
  background-image: url(images/gold.jpg);
  text-align: center;
  align-content: center;
  margin: 0px auto;
  margin-top: 20px;
  padding: 0px;
  /* opacity: 0.55; */
  border: 3px outset rgb(241, 241, 18);
  border-image: url(images/gold.jpg) 30% round;
  opacity: 0.95;;
}



#title-box p {
  font-size: 42px;
  color: rgb(33, 53, 10);
 text-shadow: -2px 1px ghostwhite;
font-weight: bold;
}

#home-icon, #about-us-icon, #contact-icon, #hand-peace-icon {
    color: white;
    width: 50px;
    /* align-content: center; */
    margin: 0px auto;
    position: fixed;
    float: right;
margin-right: -30px;
}

#home-icon {
    margin-top: 0px;
}

#about-us-icon {
    margin-top: 0px;
}

#hand-peace-icon {
    margin-top: 0px;

}

#contact-icon {
    margin-top: 0px; 
}




