* {
  align-content: center;
  text-align: center;
  margin: 0px auto;
  padding: 0px;
}

html {
  padding: 0px;
  min-width: 364px;
  /* min-width: 375px; */
  background-color: white;
}

.center {
  align-content: center;
  text-align: center;
  margin: 0px auto;
}

.fuck-motto {
  text-align: center;
  border-image: url(images/gold.jpg);
}

#box-nav {
  text-align: left;
  width: 100%;
  min-width: 250px;
  max-width: 700px;
  height: 75px;
  border: 2.5px inset gold;
  border-image: url(images/gold.jpg) 30% round;
  padding-left: 0px;
  clear: left;
  margin: 0px auto;
  /* margin-top: 40px; */
  background-image: url(images/vatican/canopy2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-repeat: none;
  box-shadow: 0px 4px 12px rgb(65, 65, 58);
  opacity: 0.65;
}

.nav-btn {
  width: 77px;
  height: 45px;
  margin-top: 12.5px;
  /* opacity: 0.75; */
  border: 2px inset rgb(172, 148, 17);
  border-image: url(images/gold.jpg) 30% round;
}

.nav-btn-marg-left {
  margin-left: 10px;
}

body {
  width: 100%;
  min-width: 355px;
  max-width: 2500px;
  min-height: 1200px;
  height: 100%;
  background: url(images/parchment1.png);
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* background-size: 100%; */
  background-repeat: repeat-y;
  align-content: center;
  text-align: center;
  margin: 0px auto;
  margin: 0px auto;
  padding: 0px;
  padding-right: -15px;
}

#full-wide {
  height: 100%;
  padding: 0px;
}

p {
  color: white;
}
.container-fluid {
  background: url();
  align-content: center;
  text-align: center;
  margin: 0px auto;
  min-width: 355px;
  /* margin-right: 0px; */
  width: 100%;
  height: 100%;
  padding: 0px;
}

#banner {
  background-color: black;
  background: url(images/lovedOnes2.jpg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* z-index: 9; */
  min-height: 125px;

  /* width: 100%; */
  min-width: 300px;
  /* max-width: 464px; */
  margin: 0px auto;
  /* margin-left: 29px; */
  margin-top: -49px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  align-content: center;
  text-align: center;
  border: 1px outset rgb(179, 179, 145);
  border: 3px inset gold;
  border-image: url(images/gold.jpg) 30% round;
  padding: 0px;
  box-shadow: 0px 6px 12px rgb(65, 65, 58);
  opacity: 0.75;
}
#main {
  /* width: 100%; */
  min-width: 300px;
  height: 200px;
  /* width: 100%; */

  background-color: black;
  /* background: url(images/star-night-trim.jpg); */
  background: url(images/heaven/heaven2.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px auto;
  margin-top: 0px;
  /* margin-left: -45px; */
  margin-right: 0px;

  /* float: left; */
}

#user_box {
  width: 190px;
  height: 58px;
  border: 2px outset rgb(179, 179, 145);
  border-image: url(images/gold.jpg) 30% round;
  padding-top: 3px;
  margin-top: 1px;
  background-color: silver;
  background-image: url(images/gold_cloud.png);
  opacity: 0.85;
}

#main-body {
  width: 100%;
  height: 100%;
  /* background: url(images/parchment1.png); */
  background-size: 100%;
  margin: 0px auto;
  align-content: center;

  /* display: inline-block; */
  /* float: left; */
}

#row1 {
  margin: 0px auto;

  width: 100%;

  height: 100px;
  padding: 0px;
}

#row2 {
  /* margin-left: 10px; */
  /* background-color: orange; */
  width: 100%;
  margin: 0px auto;
  /* padding-right: -10px; */
  /* padding: -110px; */
  display: inline-block;
  /* background: url(images/parchment1.png);  */
  /* opacity: 0.75; */
}

label {
  color: black;
}

#home-container {
  z-index: -1;
  margin: 0px auto;
  align-content: center;
  text-align: center;
  width: 80%;
  max-width: 700px;
  min-width: 0px;
  /* display: block; */
  /* position: relative; */
}

#binding {
  height: 100%;
  min-height: 1000px;
  margin: 0px auto;
  margin-left: 0px;
  /* float: left; */
  width: 50%;
  left: 0px;
  max-width: 180px;
  position: absolute;
  background-color: rgb(105, 99, 81);
  border-right: 3px solid rgb(116, 112, 95);
  box-shadow: 3px 0px 20px rgb(54, 54, 48);
  z-index: 7;
  opacity: 0.9;
}

#binding2 {
  height: 100%;
  min-height: 1000px;
  margin: 0px auto;
  top: 0px;
  margin-right: 0px;
  /* margin-top: -90px; */
  width: 50%;
  max-width: 180px;
  right: 0px;
  background-color: rgb(105, 99, 81);
  border-left: 3px solid rgb(116, 112, 95);
  box-shadow: -3px 0px 15px rgb(105, 105, 95);
  /* box-shadow: -3px 0px 15px rgb(54, 54, 48); */
  z-index: 7;
  position: absolute;
  opacity: 0.9;
}

.right-text {
  text-align: right;
  /* padding: 10px;
  padding-left: 35px; */
}

#title-box {
  width: 265px;
  height: 75px;
  background-image: url(images/gold.jpg);
  text-align: center;
  align-content: center;
  margin: 0px auto;
  margin-top: 20px;
  padding: 0px;
  /* opacity: 0.55; */
  border: 3px outset rgb(241, 241, 18);
  border-image: url(images/gold.jpg) 30% round;
  opacity: 0.95;
  display: block;
}

#title-box p {
  font-size: 42px;
  color: rgb(33, 53, 10);
  text-shadow: -2px 1px ghostwhite;
  font-weight: bold;
}

#home-icon,
#about-us-icon,
#contact-icon,
#hand-peace-icon {
  color: white;
  width: 50px;
  /* align-content: center; */
  margin: 0px auto;
  position: fixed;
  float: right;
  margin-right: -30px;
}

#home-icon {
  margin-top: 0px;
}

#about-us-icon {
  margin-top: 0px;
}

#hand-peace-icon {
  margin-top: 0px;
}

#contact-icon {
  margin-top: 0px;
}

#sign_up_form {
  align-content: center;
  margin: 0px auto;
  color: black;
  text-align: left;
  align-content: left;
  clear: left;
  max-width: 370px;
  background-color: silver;
  background-image: url(images/gold.jpg);
  padding: 10px;
  border: 3px outset rgb(241, 241, 18);
  border-image: url(images/gold.jpg) 30% round;
  opacity: 0.8;
  display: block;
}

#sign_up_form ul {
  font-size: 10.5px;
  margin-left: 0px;
  text-align: left;
  /* float: left; */
}

#sign_up_form label {
  clear: right;
}

#sign_up_form p {
  text-align: left;
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
  clear: left;
}

#sign_up_form input {
  /* margin: 0px auto; */
  width: 125px;
  margin-left: 5px;
  margin-right: 10px;
  /* margin-right: 65px; */
  clear: right;
}

#sign_up_form button {
  width: 75px;
}

p #id_password2 input {
  width: 50px;
}

#sign_up_form ul {
  list-style-type: none;
}

.helptext {
  color: black;
  font-size: 11px;
  /* clear: left; */
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: center;
}

p .helptext {
  margin-left: 20px;
  font-size: 11px;
}

#logo {
  text-align: center;
  width: 300px;
  margin: 0px auto;
  align-content: center;
}

#home-container {
  width: 100%;
  height: 100%;

  max-width: 344px;
  max-height: 525px;
  background-image: url(https://res.cloudinary.com/dx5eoz5dw/image/upload/v1574128016/SentHeard/marble-on-marble.png);
 -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10px;
}

#home-container p {
  font-size: 18px;
  color: black;
  width: 90%;
  margin-top: -20px;
/*max-width: 525px;*/
}

#home-container-lg {
  width: 100%;
  height: 100%;
  min-width: 600px;
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;
  background-image: url(https://res.cloudinary.com/dx5eoz5dw/image/upload/v1574213473/SentHeard/marble-frame600x600.png);
 -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 20px 10px 20px;
  padding-top: 10px;
}

#home-container-lg p {
  font-size: 22px;
  color: black;
  width: 90%;
  margin-top: 20px;
/*max-width: 525px;*/
}


#logo-lg {
  text-align: center;
  width: 400px;
  margin: 0px auto;
  align-content: center;
}



/* ANIMATION */
