
* {
  align-content: center;
  text-align: center;
  margin: 0px auto;
  padding: 0px;

}

html {
  padding: 0px;
}

.center {
  align-content: center;
  text-align: center;
  margin: 0px auto;
}

.fuck-motto {
  text-align: center;
  border-image: url(gold.jpg) ;
}

#box-fuck {
  text-align: left;
  min-width: 300px; 
  width: 200px;
  height: 275px;
  border: 3px outset rgb(241, 241, 18);
  border-image: url(gold.jpg) 30% round;
  padding-left: 15px;
  clear: left;
  margin: 0px auto;
  margin-top: 25px;
}

body {
  width: 100%;
  min-width: 300px;

  height: 100%;
  background-color: red;
   background: url(parchment1.png); 
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* background-size: 100%; */
  background-repeat: repeat-y;
  align-content: center;
  text-align: center;
  margin: 0px auto;
  margin: 0px auto;
  padding: 0px;
  padding-right: -15px;

}

p {
  color: white;
}
.container-fluid {
  align-content: center;
  text-align: center;
  margin: 0px auto;
  margin-right: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}
#banner {
  background-color: black;
  background: url(star-night-trim.jpg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /* z-index: 9; */
  height: 120px;
  /* width: 100%; */
  min-width: 325px;
  /* max-width: 464px; */
  margin: 0px auto;
  /* margin-left: 29px; */
  margin-top: -52px;
  margin-left: 0px;
  margin-right: 0px; 
  align-content: center;
  text-align: center;
  border: 1px outset rgb(179, 179, 145);
  border-right: 1.5px inset rgb(211, 211, 188);
  padding: 0px;
  box-shadow: 0px 2px 15px rgb(8, 0, 0), 0px 0px 20px rgb(36, 34, 13);
}
#main {
  /* width: 100%; */
  min-width: 324px;
  height: 100px;
  /* width: 100%; */
  background-color: black;
  background: url(star-night-trim.jpg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin: 0px auto;
  margin-top: 0px;
  /* margin-left: -45px; */
  margin-right: 0px;

  /* float: left; */
}

#main-body {
  width: 100%;
  height: 100%;
  background: url(parchment1.png);
  background-size: 100%;
  margin: 0px auto;
  align-content: center;

  /* display: inline-block; */
  /* float: left; */
}

#row1 {
  margin: 0px auto;

  width: 100%;
  height: auto;
  padding: 0px;
}

#row2 {
  /* margin-left: 10px; */
  /* background-color: orange; */
  width: 100%;
  margin: 0px auto;
  padding-right: -10px;
  /* padding: -110px; */
}

#full-wide {
  padding: 0px;

}

#binding {
  height: 100%;
margin: 0px auto;
float: left;
  width: 160px;
  /* position: fixed; */
  /* z-index: 5; */
  /* position: fixed; */
  /* transform: scaleX(-1); */
background-color: rgb(85, 79, 60);
border-right: 5px solid rgb(116, 112, 95);
box-shadow: 5px 0px 25px rgb(8, 0, 0);
}

#binding2 {
  height: 100%;
margin: 0px auto;
  margin-right: -1px;
  margin-top: 0px;
  width: 160px;
float: right;
/* z-index: 0; */
/* transform: scaleX(-1); */
background-color: rgb(105, 99, 81);
border-left: 5px solid rgb(116, 112, 95);
box-shadow: -3px 0px 15px rgb(105, 105, 95);
}

.right-text {
  text-align: right;
  /* padding: 10px;
  padding-left: 35px; */
}

#title-box {
  width: 300px;
  height: 75px;
  background-image: url(gold.jpg);
  text-align: center;
  align-content: center;
  margin: 0px auto;
  margin-top: 20px;
  padding-top: -55px;

  /* opacity: 0.55; */
  border: 3px outset rgb(241, 241, 18);
  border-image: url(gold.jpg) 30% round;
}



#title-box p {
  font-size: 48px;
 text-shadow: 1px 1px black;
 font-weight: bold;
}

#home-icon, #about-us-icon, #contact-icon, #hand-peace-icon {
    color: white;
    width: 50px;
    /* align-content: center; */
    margin: 0px auto;
    position: fixed;
    float: right;
margin-right: -30px;
}

#home-icon {
    margin-top: 0px;
}

#about-us-icon {
    margin-top: 0px;
}

#hand-peace-icon {
    margin-top: 0px;

}

#contact-icon {
    margin-top: 0px; 
}




