
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
    <br><br><br>
    <h1>About Us</h1>
    <br>
    <!--<img src="/static/images/medeival.png" alt="" style="width:300px; height:200px;">-->
    <br>
    <br>

    <h3 class="fuck-motto">Mission Statement</h3>

    The <a href="https://en.wikipedia.org/wiki/Declaration_of_independence">Declaration of Independence</a> begins with the phrase: "We the People"
    <br>
    But now is the time to Free the People
    <br>
    A movement has been born, in the spirit of that declaration,
    <br>
    in the spirit of the <a href='https://en.wikipedia.org/wiki/Magna_Carta' target="#">Magna Carta</a>, of
    the <a href="https://en.wikipedia.org/wiki/Ten_Commandments">Ten Commandments</a> ,
    <br>
    of <a href="https://en.wikipedia.org/wiki/Code_of_Hammurabi">the Code of Hammurabi</a>,

    of <a href="https://en.wikipedia.org/wiki/Golden_Rule">the Golden Rule</a>.
    <br>
    This marks the dawn of a Golden Age, and the dusk of an Age of Rage
    <br>
    Wherever injustice, oppression, intimidation and fear reside,
    <br>
    We will chase them to the ends of the Earth, until they end, on Earth
    <br>
    With respect for every race, and the right to choose our own way
    <br>
    So one day we can come together and do something amazing in this universe
    <br>
    We come from the stars. No one here comes from trash.
    <br>
    Accident or not, we were jettisoned from a magnificent place
    <br>
    Let us not, as seeds, destroy our new Home
    <br>
    Let not the fire of hate, seal your fate
    <br>
    It's time to wake up!
    <br>
    You are not alone
    <br>
    We are not alone
    {% endblock %}
