
{% extends 'index.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="/static/index.css"/>
<div class="GalleryTitleBox">
<h1>About Us</h1>
<h3 class="fuck-motto">What We Represent and Serve</h3>
</div>

        <div id='join-instructions'>
          <h3 style="margin-bottom: 15px; color: #e0dbd1">Join in 5 Easy Steps</h3>
          <hr
            style="margin-top: -10px; background-color: #e0dbd1; color: #e0dbd1; width: 240px; height: 2px; border-style: inset;;">
          <p>1. Click a 'Join' button above.</p>
          <p>2. Fill out the form - first name, last name and password.</p>
          <p>3. Enter payment information.</p>
          <p>4. Click on 'Post' button up top.</p>
          <p>5. Choose Photos, Audio, Video or Text to record/upload.</p>

        </div>
<br>
    <div id="textBoxGeneral">

    <div id="textBoxGeneralSpan"><h3 style="text-align:center">Collection, transfer and management of your family or network's voices, documents,
    videos, images and stories.</h3></div>
 <br>
 <br>
 <br>
 <img src='/static/images/logo/veteran-owned-business.png'>

<br>
<h4>Contact</h4>
<h5>+1-773-895-6932</h5>
    </div>



    {% endblock %}
