
{% extends 'index.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="/static/index.css"/>
<div class="GalleryTitleBox">
<h1>About Us</h1>
<h3 class="fuck-motto">What We Represent and Serve</h3>
</div>
<br>

    <div id="textBoxGeneral">

    <div id="textBoxGeneralSpan"><h3>Collection, transfer and management of your family or network's voices, documents,
    videos, images and stories.</h3></div>
 <br>
 <br>
 <img src='/static/images/logo/veteran-owned-business.png'>

<br>
<h4>Contact</h4>
<h5>+1-773-895-6932</h5>
    </div>



    {% endblock %}
