
{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
    <br>
    <h1>Account</h1>
    <br>
    <!--<img src="/static/images/medeival.png" alt="" style="width:300px; height:200px;">-->
    <br>
    <br>

    <h3 class="fuck-motto">Your Account</h3>

    <p>User: {{ user }}</p>

    <p><a href="{% url 'password_reset' %}">Reset Your Password</a></p>

    {% endblock %}



<!--<h2>{{ user.get_full_name }}</h2>-->
<!--<ul>-->
<!--  <li>Username: {{ user.username }}</li>-->
<!--  <li>Location: {{ user.profile.location }}</li>-->
<!--  <li>Birth Date: {{ user.profile.birth_date }}</li>-->
<!--</ul>-->