{%load static %}

<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" type="text/css" href="{% static '/index.css'%}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SentHeard</title>
</head>
<div id="main-body">
<body>

    <div id="main">
    <div class="col-lg-12">
            <div>
            <div id="nav" class="nav">
                    <div class="icon">
                        <ul>
                            <li><img src="{% static '/home.png'%}" alt="house icon" id="home-icon"><a title="Home" href="#"><i class="fa fa-home "></i></a></li>
                            <li><img src="{% static '/about_us.png'%}" alt="about us icon" id="about-us-icon"><a href="About"><i class="fa fa-search "></i></a></li>
                            <li><img src="{% static '/hand-peace.png'%}" alt="hand icon" id="hand-peace-icon"><a href="About"><i class="fa fa-search "></i></a></li>  
                            <li><img src="{% static '/contact.png'%}" alt="contact icon" id="contact-icon"><a href="#"><i class="fa fa-edit "></i></a></li>
                            <li><a href="#"><i class="fa fa-cog "></i></a></li>
                
                        </ul>
                    </div>
                    <div class="text">
                        <ul>
                            <li><a title="Home" href="#">Home</a></li>
                                <li><a href="/about_us/about_us.html" >About Us</a>
            </li>
                <li><a href="#" >What We Offer</a>
            </li>
                <li><a href="#" >Contact</a>
            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <div class="logo"><p>LOGO</p></div>
                        <div class="name">Co. Name</div>
                        <div class="quote">WHAT WE DO IS WHO WE ARE</div>
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/tmrDevelops"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>



            <div id="container">
                </div>

                    {% block content %}
                    <p>hi</p>
                    {% endblock %}
        


    </div>

</body>
</div>
</html>