{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
<div class="GalleryTitleBox">
<h1>Sifu Bach</h1>
<h3 class="fuck-motto">Welcome to my Music Page</h3>

</div>
<br>
    <div id="textBoxGeneral">

    <div id="textBoxGeneralSpan"><br>
                    <audio controls='controls'>
                    <source src='https://www.sentheard.com/static/music/Tearing_Down_Statues.mp3' type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
    </div>
    </div>


    {% endblock %}

