{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>
<div class="GalleryTitleBox">
<h1>Sifu Bach</h1>
<h5>Play or Download in MP3 and WAV </h5>
<h6>(MP3 is smaller file but WAV is better quality)</h6>

</div>

    <!--<div id="textBoxGeneral">-->

    <!--<div id="textBoxGeneralSpan">-->

    <!--    <h3>Plateful</h3>-->

    <!--    MP3-->
    <!--            <audio controls='controls'>-->
    <!--                <source src='https://django-static-sentheard.s3.us-east-2.amazonaws.com/static/music/Plateful.mp3' type="audio/mpeg">-->
    <!--                Your browser does not support the audio element.-->
    <!--            </audio>-->
    <!--    WAV-->
    <!--            <audio controls='controls'>-->
    <!--                <source src='https://django-static-sentheard.s3.us-east-2.amazonaws.com/static/music/Plateful.mp3' type="audio/mpeg">-->
    <!--                Your browser does not support the audio element.-->
    <!--            </audio>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div id="textBoxGeneral">-->

    <!--<div id="textBoxGeneralSpan">-->

    <!--    <h3>Tearing Down Statues</h3>-->

    <!--    MP3-->
    <!--            <audio controls='controls'>-->
    <!--                <source src='https://django-static-sentheard.s3.us-east-2.amazonaws.com/static/music/Tearing+Down+Statues.mp3' type="audio/mpeg">-->
    <!--                Your browser does not support the audio element.-->
    <!--            </audio>-->
    <!--    WAV-->
    <!--            <audio controls='controls'>-->
    <!--                <source src='https://django-static-sentheard.s3.us-east-2.amazonaws.com/static/music/Tearing+Down+Statues.wav' type="audio/mpeg">-->
    <!--                Your browser does not support the audio element.-->
    <!--            </audio>-->
    <!--</div>-->
    <!--</div>-->


    <div id="textBoxGeneral">

    <div id="textBoxGeneralSpan">

        <h3>Come Elyon</h3>

        MP3
                <audio controls='controls'>
                    <source src='https://django-static-sentheard.s3.us-east-2.amazonaws.com/static/music/Come+El+Elyon.mp3' type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
        WAV
                <audio controls='controls'>
                    <source src='https://django-static-sentheard.s3.us-east-2.amazonaws.com/static/music/Come+El+Elyon.wav' type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
    </div>
    </div>



<br>
<!--<img class='album-cover' src='https://django-static-sentheard.s3.us-east-2.amazonaws.com/static/music/album-cover2.jpg'>-->



   <!--<div id="textBoxGeneral">-->
    <!--<div id="textBoxGeneralSpan"><br>-->
    <!--    Tearing Down Statues by Sifu Bach-->
    <!--<br>-->
    <!--<img src='https://www.sentheard.com/static/images/Shaolin-Temple.jpg'>-->
    <!--                <audio controls='controls'>-->
    <!--                <source src='https://www.sentheard.com/static/music/Tearing_Down_Statues.mp3' type="audio/mpeg">-->
    <!--                Your browser does not support the audio element.-->
    <!--            </audio>-->
    <!--</div>-->
    <!--</div>-->
    {% endblock %}

