{% extends 'index.html' %}
{% load static %}


    {% block content %}
    <link rel="stylesheet" href="/static/index.css"/>

<div class="GalleryTitleBox">
<h3 class="fuck-motto">Your Account</h3>

{% if user.is_active %}
<div id="accountBox">




<u>Status</u>:
{% if user.is_active %}
<span style="color: green;">Active</span>
{% else %}
<span style="color: red;">Inactive</span>
{% endif %}
<br>
<u>Paid or Unpaid</u>:
{% if user.has_paid %}
<span style="color: green;">Paid</span>
{% else %}
<span style="color: red;">Unpaid</span>
{% endif %}
<br>
<u>First Name</u>: {{ user.first_name }}
<br>
<u>Last Name</u>: {{ user.last_name }}
<br>
<u>Email</u>: {{ user.email }}
<br>
<u>Customer ID</u>: {{ user.id }}


</div>

</div>


<div class="loginForm" style="text-shadow:1px 1px 1px black;">
    <br>

  <a href="{% url 'password_reset' %}" >
    <div id=''>
<br>

<span id="acccountButton">Reset Your Password</span>

    </div>
    </a>

<br><br>
  <a href="{% url 'delete_user' %}" >
<span id="acccountButton">Deactivate Your Account</span>
</a>

{% if user.has_paid == False %}
<br><br><br>
  <a href="{% url 'payments' %}" >
<span id="acccountButton" style="text-shadow:1px 1px 1px red;">Balance is Due - Pay Here</span>
</a>
{% endif %}

</div>
{% endif %}
{% endblock %}